<nav class="main-nav-outer" id="test">
  <!--main-nav-start-->
  <div class="container">
    <ul class="main-nav">
      <li><a href="#header">Home</a></li>
      <li><a href="#service">Servicos</a></li>
      <li><a href="#Portfolio">Parceiros</a></li>
      <li class="align-self-center"><a href="#header"><%= image_tag 'clean-coin.png', class: "small-logo logo" %></a></li>
      <li><a href="#client">Clients</a></li>
      <li><a href="#team">Team</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
    <a class="res-nav_click" href="#"><i class="fa fa-bars"></i></a>
  </div>
</nav>
<!--main-nav-end-->
