<!-- <div class="container" -->
<nav class="main-nav-outer " id="test">
  <div class="px-5">

    <!--main-nav-start-->
    <div class="row ">
      <div class="col-md-5">
        <ul class="main-nav">
          <li>
            <a href="#header">Home</a>
          </li>
          <li>
            <a href="#service">Servicos</a>
          </li>
          <li>
            <a href="#Portfolio">Parceiros</a>
          </li>
        </ul>
      </div>

      <!-- # Logo -->
      <div class="col-sm-2">
        <ul class="main-nav">
          <li>
            <a href="#header"><%= image_tag 'clean-coin.png', class: "avatar-large" %></a>
          </li>
        </ul>
      </div>

      <div class="col-md-5">
        <ul class="main-nav">
          <li>
            <a href="#client">Clients</a>
          </li>
          <li>
            <a href="#team">Team</a>
          </li>
          <li>
            <a href="#contact">Contact</a>
          </li>
        </ul>
      </div>

    </div>

    <a class="res-nav_click" href="#">
      <i class="fa fa-bars"></i>
    </a>
  </div>

</nav>
<!-- </div> -->
<!--main-nav-end-->
