/* Markup */
body {
  color: #000;
  margin: 0;
  font-family: "Lucida Console", Monaco, monospace;
}

.container {
  background: PaleGoldenRod  ;
  height: 100vh;
  padding: 20px;
  text-align: center;
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
	transform: translate(-50%, -50%);

  p {
    margin: 0 0 20px;
  }

}

/* Arrow & Hover Animation */
#more-arrows {
	width: 75px;
  height: 65px;

  &:hover {

    polygon {
      fill: #FFF;
      transition: all .2s ease-out;

      &.arrow-bottom {
        transform: translateY(-18px);
      }

      &.arrow-top {
        transform: translateY(18px);
      }

    }

  }

}

polygon {
  fill: #FFF;
  transition: all .2s ease-out;

  &.arrow-middle {
	  opacity: 0.75;
	}

	&.arrow-top {
	  opacity: 0.5
	}

}
